@'
# 环境依赖 (Quasar / Node)
front_code/node_modules/
front_code/dist/
front_code/.quasar/
front_code/.env
front_code/.env.local


# Python 环境
server_code/venv/
server_code/.venv/
server_code/__pycache__/
server_code/*.pyc
server_code/.env
server_code/*.db

# 上传文件夹
uploads/
front_code/public/
# server_code/uploads/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# 
.pytest_cache/
.mypy_cache/
'@ | Out-File -FilePath .gitignore -Encoding UTF8